#ovTXT_Resultado {
				font-size: 20px;
				padding: 5px;
				text-align: right;
				font-weight: bold;
			}
			
			.btn {
				font-size: 18px;
				width: 100%;
				border-radius: 0px !important;
				height: 100px;
			}			
			.col-md-3{
				padding: 5px !important;
			}
		